<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDBallot</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body data-page="index">

    <div id="screen-landing" class="screen">
        <img src="../static/images/MyBallot.png" class="logo-img">

        <h2>MyKad powered balloting system</h2>
        <p>Welcome, verify now and begin voting</p>

        <a href="/verify">
            <button class="btn-3d">Verify now</button>
        </a>
        <br>
        <p>Press the 🔴 button</p>
    </div>
    <script src="../static/js/app.js"></script>

</body>

</html>